.CustomerSidebar,.CompanySidebar,.AdminSidebar{
    background: rgb(40,40,40);
    box-shadow: 1px -1px 10px rgb(40,40,40);
    left: 0;
    bottom: 0;
    width: 9.46vw ;
    height: 100%;
    z-index: 1;
    position: fixed;
    margin-left: -2px;
    padding-top: 3.16vw;      
}

.Sidebar-img{
    margin-left: 1.37vw;  
    position: fixed;
    left: 0;
    margin-top: -0.1vh; 
    top: 0;
    width: 7.57vw;    
    cursor: pointer;
    user-select: none;
}

.Sidebar-img-div{
    background: rgb(20,20,20);
    box-shadow: -5px 0px 10px rgb(20,20,20);
    top: 0;
    z-index: -1;
    position: fixed;
    width: 9.46vw ;
    height: 6.15vh; 
    cursor: pointer;
    border-radius : 1%;
}

.Siderbar-div-seperator{
    margin-top: 16.5%; 
}
.Siderbar-div-button-seperator{
    margin-top: 9%; 
 }

.Sidebar-button-div{
    height: 4.6vh;
    box-shadow: 0px 0px 5px black; 
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 7.8vw;
    font-size: 1.85vh;
}
.Sidebar-button-div-clicked{
    height: 4.6vh;
    box-shadow: 0px 0px 3px rgb(245,245,245); 
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 7.8vw;
    font-size: 1.85vh;
} 

.Sidebar-button{
    user-select: none;
    color: rgb(249,254,254);
    border: none;
    font-size: 1.85vh;
    font-family: sans-serif;
    width: 7.8vw;
    margin-right: 100%;
    height: 4.6vh;
    padding-right: 8%;
    background-color: rgb(129,180,65);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.Sidebar-button:hover{
    color: rgb(100,100,100);
}
.Sidebar-button:active{
    color: rgb(50,50,50);
    background-color: rgb(129,180,65);
}
.Sidebar-button-clicked{
    user-select: none;
    color: rgb(0,0,0);
    border: none;
    font-size: 1.85vh;
    font-family: sans-serif;
    width: 7.8vw;
    margin-right: 100%;
    height: 4.6vh;
    padding-right: 8%;
    background-color: rgb(129,180,65);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
