.Login{
   background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,200,1) 0%, rgba(0,255,255,1) 100%);
   background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(20,20,20,1) 0%, rgba(40,40,40,1) 100%);
   width: 100%;
   position: relative;
   min-height: 100vh;
}

.Login-img{
  user-select: none;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left:1.8%;  
}

.Login-formik{
    color: whitesmoke;
    margin-top: 3%;
    width: 23.4%; 
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(20, 20, 20, 0.531);
    padding-top: 0.3%;
    padding-bottom: 1.5%;
    padding-left: 2%;
    padding-right: 2%;
    border: 0.5vh solid rgba(40, 40,40, 0.503); 
    border-radius: 2%;
    margin-bottom: 5%;
    text-align: left;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.834)
}

.Login-form{
    text-align: left;
}

#Login-padding{
    padding-top: 5%; 
}

.Login-submit{
    margin-top: 2.5%;
    text-align: center; 
}

#Login-alert {
    user-select: none;
    color: red;
    opacity: 75%;
    margin-top: 0.75%; 
    padding-top: 0.8%;
    margin-bottom: 1.5%;
    padding-left: 14px;   
    height: 30px;
    font-size: small;
    animation: fadeIn 1s;
    box-shadow: 0px -36px 100px red;        
}
#Login-alert:hover{
    opacity: 100%;
    box-shadow: 0px -36px 75px red
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    to {
        opacity: 0.75;
    }
}


#Login-signup{
    margin-right:23.4%
}
