.AdminAddCustomer-background{
    margin-top: -6.15vh; /*Header height*/
    width: 200vw;
    height: 100vh;
    z-index: 1;
    opacity: 75%;
    position: fixed;
    background-color:black;
    
    animation: fadeIn 1.5s;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.75;
    }
}

.AdminAddCustomer{
    z-index: 1;
    margin-left: 32.5%;
    margin-right: 32.5%;
    position: fixed;
    background-color: rgb(233,236,239);
    width: 35vw;
    animation: slideInDown 1.5s;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0px 0px 10px black;
    top: 50%;
    transform: translateY(-50%);
}
@keyframes slideInDown {
    from{
    top:-100%;
    }
    to{
     top: 50%;
    }
}

.AdminAddCustomer-title{
margin-top: -26px;
}


.AdminAddCustomer-close-div{
    text-align: right;
    margin-top: 2%;
    padding-right: 2%;
}
#AdminAddCustomer-close-button{
     opacity: 50%;
     border: black 0.2vh solid;
 }
#AdminAddCustomer-close-button:hover{
    opacity: 70%;
}
#AdminAddCustomer-close-button:focus{
    opacity: 100%;
}

#AdminAddCustomer-first_name-div{
    margin-left: -3px;
}
#AdminAddCustomer-email-div{
    padding-right: 74.5px; 
    margin-left: -3px;
}
#AdminAddCustomer-password-div{
    padding-right: 46.5px; 
    margin-left: -3px;
}
#AdminAddCustomer-last_name-input,#AdminAddCustomer-first_name-input,#AdminAddCustomer-email-input,#AdminAddCustomer-password-input{
  border-radius: 0px;
}
.AdminAddCustomer-div-seperator{
   padding-top: 2%;
}