.AdminCompanies-table{
    margin-left: 9.9%;
    margin-right: 13.3%;
    table-layout: fixed;
    width: 79%;
    user-select: none;
}

.AdminCompanies-table>tbody>tr>td {
    padding: 0px; 
}

.AdminCompanies-table-header{
    padding-right: 0.5%;
    text-align:left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.AdminCompanies-table-text-label,.AdminCompanies-table-id-label{
    padding-left: 8px;
    margin-bottom:-10px;
    line-height: 4.4vh;
    padding-right: 28px;
    text-align:left;
    width: 105%;
    height: 5.1vh;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}
#AdminCompanies-table-password-label{
padding-right: 41px !important;
display: none;
}
#AdminCompanies-table-id-label{
    padding-right: 15px!important;
}
#AdminCompanies-table-text-label{
    padding-right:31px!important
}
.AdminCompanies-field-checkbox{
    display: none;
}

.AdminCompanies-field-checkbox~*~* {
    background-color:rgb(240,240,240);
    box-shadow: -1px -1px 1px black, 1px 1px 1px black;
}
.AdminCompanies-field-checkbox:hover~*~*{
  background-color:rgb(255,255,255);
}
.AdminCompanies-field-checkbox:checked~*~*  {
    background-color:  rgb(0, 255, 0); ;
} 
.AdminCompanies-field-checkbox+*+*{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.AdminCompanies-field-checkbox+*+*+*+*{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.AdminCompanies-table-tr-seperator{
    height:15px
}

.AdminCompanies-table-id-label{
    text-align:center
}

#AdminCompanies-table-header-id{
    padding-left: 10px;
}