.AdminUpdateCustomer-background{
    margin-top: -6.15vh; /*Header height*/
    width: 200vw;
    height: 100vh;
    z-index: 1;
    opacity: 75%;
    position: fixed;
    background-color:black;
    
    animation: fadeIn 1.5s;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.75;
    }
}

.AdminUpdateCustomer{
    z-index: 1;
    margin-left: 25%;
    margin-right: 25%;
    position: fixed;
    background-color: rgb(233,236,239);
    width: 50vw;
    animation: slideInDown 1.5s;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0px 0px 10px black;
    top: 50%;
    transform: translateY(-50%);
}
@keyframes slideInDown {
    from{
    top:-100%;
    }
    to{
     top: 50%;
    }
}

.AdminUpdateCustomer-table{
    width: 100%;
 }

.AdminUpdateCustomer-close-div{
        text-align: right;
        margin-top: 2%;
        padding-right: 2%;
}
#AdminUpdateCustomer-close-button{
         opacity: 50%;
         border: black 0.2vh solid;
}
#AdminUpdateCustomer-close-button:hover{
        opacity: 70%;
}
#AdminUpdateCustomer-close-button:focus{
        opacity: 100%;
}
.AdminUpdateCustomer-div-seperator{
    padding-top: 2%;
 }

#AdminUpdateCustomer-from-first-input,#AdminUpdateCustomer-from-last-input,#AdminUpdateCustomer-from-email-input,#AdminUpdateCustomer-from-password-input{
    background-color: rgb(245, 245, 245);
    margin-left: -3px;
}


#AdminUpdateCustomer-to-email-input,#AdminUpdateCustomer-to-password-input{
    border-radius: 0px;
    margin-left: -3px;
  margin-right: -1.2px;
}
#AdminUpdateCustomer-to-left-div{
    border-radius: 0px;
    margin-left: -3px;
}
#AdminUpdateCustomer-to-right-input{
    border-radius: 0px;
    margin-right: -1.2px;
}
.AdminUpdateCustomer-title{
    margin-top: -26px;
}
#AdminUpdateCustomer-name-div{
    border-radius: 0px;
    padding-right: 36px;
}
#AdminUpdateCustomer-email-div{
    border-radius: 0px;
    padding-right: 40.2px;
}
#AdminUpdateCustomer-password-div{
    border-radius: 0px;
}
#AdminUpdateCustomer-first-div{
    margin-left: -3px;
}